@import "src/App.scss";

nav {
    position: fixed;
    height: 100%;
    background-color: $cinza-claro2;
    
    .content__nav {
        padding: 1rem 1.5rem;
        h3 {
            color: $roxo;
        }
        ul {
            list-style: none;
            padding-left: 0px;

            li {
                margin: 0.5rem 0;
            }
        }
    }
}
